*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ############### caixa 1 ############### */



/* ############### caixa 2 ############### */



/* ############### caixa 3 ############### */



/* ############### caixa 4 ############### */

.icon{
  width: 30px;
}

/* ############### caixa 5 ############### */



/* ############### caixa 6 ############### */



/* ############### caixa 7 ############### */



/* ############### caixa 8 ############### */



/* ############### caixa 9 ############### */



/* ############### caixa 10 ############### */



